services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    environment:
      DJANGO_SETTINGS_MODULE: DevelopmentTracker.settings_docker
    ports:
      - "8010:8010"
    depends_on:
      - db


  ui:
    build:
      context: ./ui
      dockerfile: Dockerfile
    environment:
      VITE_API_URL: http://localhost:8010/api
    ports:
      - "5173:5173"
    depends_on:
      - backend
